/* CONTAINER PADRAO CENTRALIZADO */
.container{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: $tamanho-note){
		width: 1000px;
	}

	@media screen and (max-width: $tamanho-tablet){
		width: 800px;
	}

	@media screen and (max-width: $tamanho-tablet-vertical){
		width: 600px;
	}

	@media screen and (max-width: $tamanho-smartphone){
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-right: 1em;
		padding-left: 1em;
	}
}





/* CONTAINER COM TEXTURA E BORDA CRAQUELADA */
.textura-papel{
	background-image: url(../media/pattern_papel.jpg);
	position: relative;
	z-index: 2;

	& + section{
		padding: 5em 0;
	}
	
	@mixin dimensoesBordas($altura){
		&:before, &:after{
			height: $altura;
			background-size: auto $altura;
		}

		&:before{
			top: -$altura + 1px;
		}

		&:after{
			bottom: -$altura + 1px;
		}

	}
	&:before, &:after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		background-repeat: no-repeat;

	}
	&:before{
		background-position: left bottom;
		background-image: url(../media/borda_secao1.png);
	}

	&:after{
		background-position: right top;
		background-image: url(../media/borda_secao2.png);
	}

	@include dimensoesBordas(38px);
	@media screen and (max-width: $tamanho-tablet){
		@include dimensoesBordas(30px);
	}

	@media screen and (max-width: $tamanho-smartphone){
		@include dimensoesBordas(22px);
	}
}





/* BORDA CRAQUELADA, APENAS EMBAIXO, SEM TEXTURA */
.borda-branca{
	position: relative;
	z-index: 2;	
	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 38px;
		bottom: -37px;
		background-size: auto 38px;
		background-repeat: repeat-x;
		background-position: left top;
		background-image: url(../media/borda_branca.png);
		@media screen and (max-width: $tamanho-tablet){
			height: 30px;
			bottom: -29px;
			background-size: auto 30px;
		}

		@media screen and (max-width: $tamanho-smartphone){
			height: 22px;
			bottom: -21px;
			background-size: auto 22px;
		}
	}
}




/* SISTEMINHA DE GRID */
$grid-gutter: 1.5rem;
.grid{
	@include display(flex);
	@include align-items(flex-start);
	& > *{
		@include flex-shrink(0);
		margin-bottom: $grid-gutter;
	}


	&.g4{
		// $grid-gutter: 2.5rem;
		@include flex-wrap(wrap);

		& > *{
			width: calc(25% - #{$grid-gutter * 3 / 4});
			margin-right: $grid-gutter;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
	}

	&.g3{
		@include flex-wrap(wrap);

		& > *{
			width: calc(33.333% - #{$grid-gutter * 2 / 3});
			margin-right: $grid-gutter;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}

	&.g1e2{
		& > *{
			&:first-child{
				width: calc(33.333% - #{$grid-gutter/2});
				margin-right: $grid-gutter;
			}
			&:nth-child(2){
				width: calc(66.666% - #{$grid-gutter/2});
			}
		}
	}

	&.g2e1{
		& > *{
			&:first-child{
				width: calc(66.666% + #{$grid-gutter/2});
				margin-right: $grid-gutter;
			}
			&:nth-child(2){
				width: calc(33.333% - #{$grid-gutter/2});
			}
		}
	}

	&.g2{
		& > *{
			width: calc(50% - #{$grid-gutter / 2});
			margin-right: $grid-gutter;
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}

	@media screen and (max-width: $tamanho-tablet-vertical){
		$grid-gutter: 1em;

		&.g4, &.g3{
			& > *{
				width: calc(50% - #{$grid-gutter / 2});
				margin-right: $grid-gutter;

				&:nth-child(2n){
					margin-right: 0;
				}
			}
		}
		&.g4{
			// $grid-gutter: 2em;
			& > *{
				&:nth-child(4n){
					margin-right: inherit;
				}
			}
		}

		&.g3{
			& > *{
				&:nth-child(3n){
					margin-right: inherit;
				}
			}
		}

		&.g1e2, &.g2e1, &.g2{
			@include display(block);

			& > *{
				&,
				&:first-child,
				&:nth-child(2),
				&:nth-child(2n),
				&:nth-child(3n){
					width: 100%;
					margin: 0 auto $grid-gutter;	
				}
			}
		}
	}

	@media screen and (max-width: $tamanho-smartphone){
		$grid-gutter: 1em;
		&.g4, &.g3{
			@include display(block);
			& > *{
				width: 100%;
				max-width: 240px;
				margin-right: auto;
				&:nth-child(2n){
					margin-right: auto;
				}
				margin: 0 auto;
			}
		}

		&.g4{
			& > *{
				&:nth-child(4n){
					margin-right: auto;
				}
			}
		}

		&.g3{
			& > *{
				&:nth-child(3n){
					margin-right: auto;
				}
			}
		}
	}
}




/* REDES SOCIAIS DE ICONE */

.redes-sociais-icons{
	@include display(flex);
	a{
		text-decoration: none;
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
		&:last-child{
			margin-right: 0;
		}
		border-radius: 50%;
		background-color: $azul-botoes;
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		i{
			font-size: 1em;
			line-height: 1;
			color: $azul-footer;
		}

	}
}




/* SECTION COM WASHES */
.highlight-wash{

	@include display(flex);
	@include justify-content(space-between);
	@media screen and (max-width: $tamanho-tablet-vertical){
		@include flex-direction(column);
		@include align-items(center);
	}

	section{
		@include flex-shrink(0);
		width: 33.3333%;
		margin-right: 0;
		
		// @include display(flex);
		// @include flex-direction(column);
		// @include align-items(center);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position-y: 20px;
		position: relative;
		height: auto;

		&:after{
			content: '';
			display: block;
			padding-top: 73%;
		}

		.icone-texto{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			.icone{
				background-color: $azul-icon-washes;
				width: 4em;
				height: 4em;
				margin: 0 auto 1.5em;
				border-radius: 50%;
				@include display(flex);
				@include justify-content(center);
				@include align-items(center);
				i{
					font-size: 1.5em;
					line-height: 1;
					color: white;
				}
			}

			h2{
				margin: 0;
				font-size: 2.4em;
				line-height: 1;
				text-align: center;
				white-space: nowrap;
			}

			p{
				font-size: 0.85em;
				line-height: 1.3;
				padding: 0 5em;
				margin: 0.5em auto;
				text-align: center;
			}
		}

		a.saiba-mais{
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
			display: block;
			background-color: white;
			color: $azul;
			box-shadow: 2px 2px 0px 0px transparentize($azul, 0.5);
		}

		@media screen and (max-width: $tamanho-note){
			.icone-texto{
				.icone{
					margin-bottom: 0;
				}
				p{
					padding: 0 3em;
				}
			}
		}

		@media screen and (max-width: $tamanho-tablet-vertical){
			width: 300px;
			max-width: 100%;
			margin-bottom: 2em;
		}


		&:nth-child(1){
			background-image: url(../media/wash_azul1.png);
		}

		&:nth-child(2){
			background-image: url(../media/wash_azul2.png);
		}

		&:nth-child(3){
			background-image: url(../media/wash_azul3.png);
		}
	}
}






/* PAINEL PRODUTOS */
.produtos{

	& > .grid{
		@include align-items(stretch);

		.item{
			background-color: #fff;
			border: 1px solid $bordas-clarinhas;
			padding: 1em 1em 3.5em;
			margin-bottom: $grid-gutter;
			position: relative;

			&:after{
				content: "";
				position: absolute;
				z-index: 2;
				background-image: url(../media/clipe_papel.png);
				background-repeat: no-repeat;
				background-size: cover;
				width: 38px;
				height: 57px;
				top: -17px;
				left: -5px;
			}


			position: relative;
			img{
				width: 100%;
				height: auto;
			}

			h3{
				font-size: 1em;
				text-align: center;
				font-style: italic;
			}

			p{
				&.preco{
					font-style: italic;
					text-align: center;
					font-size: 1em;
					text-transform: uppercase;
					margin: 0.2em 0;
					color: $bege;
					font-weight: bold;
				}

				&.descricao{
					font-size: 0.9em;	
				}
			}

			div.inscricoes{
				margin: 1em 0;
				p.abertas{
					color: $verde-afirmacao;
				}

				p.encerradas{
					color: $vermelho-negacao;
				}

				p.lista{
					color: $bege;
				}

				p, p.abertas, p.encerradas, p.lista{
					margin: 0;
					font-size: 0.8em;
					font-weight: bold;
					i{color: $azul}
				}
			}

			.center-bt{
				position: absolute;
				bottom: 1em;
				left: 0;
				a{						
					font-size: 0.8em;
					box-shadow: 2px 2px 0px 0px transparentize($azul, 0.5);
					color: white;
					background-color: $azul;
				}
			}
		}
	}

	// CURSOS (grid de 3, estilos diferentes, mais info no card do item, etc.)
	&.cursos{
		.item{
			h3{
				text-align: left;
				font-size: 1.3em;
				font-weight: bold;
				font-style: normal;
			}

			&.encerradas{
				.center-bt a{
					background-color: $rosa;
					box-shadow: 2px 2px 0px 0px transparentize($rosa, 0.5);

				}
			}
		}
	}
}





/* BOX LINK DO POST */
.box-link-post{
	padding: 1em;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(flex-start);
	img.thumb{
		display: block;
		width: calc(30% - 0.5em);
		height: auto;
	}

	article{
		width: calc(70% - 0.5em);
		& > *{
			margin-bottom: 0.5rem;
		}
		h3{
			font-weight: bold;
			font-size: 1.5em;
			line-height: 1.2;
		}
		.data-post{
			font-size: 0.9em;
			font-weight: bold;
			color: $bege;
			font-style: italic;
		}

		p{

		}

		.autora-e-leiamais{
			margin-top: 1em;
			width: 100%;
			@include display(flex);
			@include justify-content(space-between);
			

			p.autora{
				font-size: 0.9em;
				span.nome{
					font-family: $fonte-especial;
					color: $rosa;
					font-size: 1.5em;
				}
			}
			a.leia-mais{display: block;}

			@media screen and (max-width: $tamanho-smartphone){
				@include display(block);
				a.leia-mais{margin-top: 1em}
			}
		}

	}
}





/* TOPO TITULO C/ SUBTITULO */
.secao-de-titulo{
	
	text-align: center;
	& > h2{
		width: 100%;
		text-align: center;
		font-family: $fonte-especial;
	}
	h3{
		width: 50%;
		@media screen and (max-width: $tamanho-tablet-vertical){width: 100%};
		margin: 0 auto;
		text-align: center;
		font-style: italic;
		color: $bege;
	}
}





/* SLIDER DE VIDEO DEPOIMENTOS */

.slider-videos{
	position: relative;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	button{
		padding: 0;
		border: 0;
		margin: 0;
		display: inline-block;
		width: 4em;
		height: 6em;
		vertical-align: middle;
		i{
			color: $azul;
			font-size: 3.5em;
			line-height: 1;
			vertical-align: middle;
		}
		&:focus{
			outline: none;
		}
		&:hover{
			cursor: pointer;
		}
	}

	.container-bx-videos{
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 8em);
		position: relative;		

		ul.bx-videos{
			display: block;
			width: 100%;
			
			li{
				display: inline-block;
				width: 33%;
				// margin-right: 0.5em;
				border: 1px solid $bordas-clarinhas;
				padding: 1em;
				position: relative;
				&:after{
					font-family: $fontawesome;
					content: '\f144';
					font-weight: 900;
					color: inherit;
					background-color: #fff;
					font-size: 2.5em;
					line-height: 1;
					padding: 2px;
					border-radius: 50%;
					pointer-events: none;
					position: absolute;
					top: 50%; left: 50%;
					@include transform(translate(-50%,-50%));

				}
				a.thumb-video{
					text-decoration: none;
					color: inherit;
					display: block;
					background-size: cover;
					background-position: center;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						width: 100%; height: 100%;
						top: 0; left: 0;
						background-color: rgba(0,0,0,0.3);
						@include transition(background-color 0.2s linear);
					}
					&:after{
						content: "";
						display: block;
						padding-top: 60%;
					}

					&:hover{
						cursor: pointer;
						&:before{
							background-color: rgba(0,0,0,0.5);
						}
					}
				}
			}
		}
	}
	
	@media screen and (max-width: $tamanho-tablet){
		button{
			width: 3em;
			height: 4em;
			i{
				font-size: 3em;
			}
		}

		.container-bx-videos{
			width: calc(100% - 6em);
		}
	}


	@media screen and (max-width: $tamanho-smartphone){
		button{
			width: 2em;
			height: 3em;
			i{
				font-size: 2.5em;
			}
		}

		.container-bx-videos{
			width: calc(100% - 4em);
		}
	}
}





/* DUVIDAS FREQUENTES */

.duvidas-frequentes{
	margin-top: 4em;
	ul{
		width: 60%;
		margin: 0 auto;
		@media screen and (max-width: $tamanho-tablet-vertical){
			width: 100%;
		}
		li{
			margin-bottom: 0.5em;
			padding: 0.5em 1em;
			background-color: white;
			border: 1px solid $bordas-clarinhas;
			h4{
				color: $bege;
				font-style: italic;
				i{
					color: $azul;
				}
			}

			article{
				display: none;
				font-size: 0.9em;
				padding: 1em 0;

			}
		}
	}
}