#sobre{
	// padding: 4em 0;
	& > .container{
		img.foto-autora{
			display: block;
			width: 45%;
			height: auto;
			@media screen and (max-width: $tamanho-tablet-vertical){
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
			}
		}

		article{
			h2.nome-autora{
				font-family: $fonte-especial;
				// font-size: 3em;
				line-height: 1;
				text-align: center;
				margin-bottom: 0;
			}

			h3.titulacao{
				font-size: 1.15em;
				font-weight: normal;
				text-align: center;
				color: $bege;
				font-style: italic;
				margin-bottom: 1.5em;
			}

			a.leia-mais{
				display: block;
				text-align: right;		
			}
		}
	}
}