#cabecalho-principal{
	width: 100%;
	padding-top: 3em;
	
	background-image: 
		url(../media/aquarela_topo.png),
		url(../media/enfeites_topo.png),
		url(../media/pattern_papel.jpg);
	background-size: 
		2100px auto,
		1200px auto,
		auto;
	background-position: 
		top center,
		top center,
		top left;
	background-repeat: 
		no-repeat,
		no-repeat,
		repeat;

	@media screen and (max-width: $tamanho-note){
		background-size: 
			175% auto,
			100% auto,
			auto;
	}

	@media screen and (max-width: $tamanho-tablet-vertical){
		background-size: 
			1400px auto,
			800px auto,
			auto;
	}

	@media screen and (max-width: $tamanho-smartphone){
		background-size: 
			1050px auto,
			600px auto,
			auto;
	}



	&:before{
		content: none;
	}

	.container{
		@include display(flex);
		@include justify-content(space-between);
		@media screen and (max-width: $tamanho-smartphone){
			@include flex-direction(column);
			@include align-items(center);
		}

	}

	a.logo{
		width: 30%;
		display: block;
		img{
			display: block;
			width: 100%;
			height: auto;
		}

		@media screen and (max-width: $tamanho-smartphone){
			width: 200px;
			max-width: 90%;
		}

	}

	button.bt-menu{
		display: none;
		@media screen and (max-width: $tamanho-smart-pequeno){
			margin: 1em 0;
			display: block;
		}

	}

	ul.menu{
		width: 65%;
		@include display(flex);
		@include justify-content(flex-end);
		@include align-items(flex-end);
		padding-bottom: 2em;

		@media screen and (max-width: $tamanho-tablet){
			padding-bottom: 1em;
		}

		@media screen and (max-width: $tamanho-tablet-vertical){
			padding-bottom: 0.5em;
		}

		@media screen and (max-width: $tamanho-smartphone){
			width: 100%;
			padding: 0.5em 0;
			@include justify-content(space-around);
			@include flex-wrap(wrap);
			@include align-items(flex-start);

		}

		@media screen and (max-width: $tamanho-smart-pequeno){
			@include display(none);
			&.ativo{
				@include display(flex);
			}
		}

		li{
			margin-right: 2.2em;
			&:last-child{margin-right: 0;}
			a{
				text-decoration: none;
				color: inherit;
				font-size: 0.85em;
				i{
					display: block;
					text-align: center;
					color: $azul;
					font-size: 1.2em;
					margin-bottom: 4px;

					@include transition(color 0.2s linear);
				}
				p{
					text-transform: uppercase;
					@include transition(color 0.2s linear);
				}
			}

			@media screen and (max-width: $tamanho-tablet){
				margin-right: 1.8em;
				&:last-child{margin-right: 0;}
			}

			@media screen and (max-width: $tamanho-tablet-vertical){
				margin-right: 1.5em;
				&:last-child{margin-right: 0;}
			}

			@media screen and (max-width: $tamanho-smart-pequeno){
				width: 33%;
				@include display(flex);
				@include justify-content(center);
				margin: 0;
				margin-bottom: 1em;
				opacity: 0;
				&:last-child{
					margin: 0;
					margin-bottom: 1em;
				}
				@include animation(aparece 0.2s linear 0s 1 normal forwards);
				@for $i from 1 through 6 {
					&:nth-child(#{$i}) {
						@include animation-delay(#{ ( $i - 1 ) * 0.07s });
					}
				}
			}



			&.atual{
				a{
					i{color: $rosa;}
					p{font-weight: bold;}
				}
			}

			&:hover{
				a{
					i{color: $rosa}
					p{color: $rosa}
				}
			}
		}
	}
}