section#slider{
	width: 100%;
	height: 25vw;
	background-color: pink;
	@media screen and (max-width: $tamanho-tablet-vertical){height: 35vw}
	@media screen and (max-width: $tamanho-smartphone){height: 50vw}

}