/* BOX SIZING */
*, *:after, *:before{
	box-sizing: border-box;
}


/* FONTES */
$fonte-comum: 'Roboto', sans-serif;
$fonte-especial: 'Quentin', cursive;


/* CORES */
$rosa: #d2a2a2;
$bege: #b99d84;
$azul-botoes: #eef5f7;
$texto-footer: #6f7580; 
$azul: #84b7b9;
$azul-texto: #5a5e66;
$azul-footer: #4b515b;
$azul-footer2: #40464f;



/* MEDIA QUERIES */
$tamanho-note: 1200px;
$tamanho-tablet: 1020px;
$tamanho-tablet-vertical: 820px;
$tamanho-smartphone: 620px;
$tamanho-smart-pequeno: 430px;



/* ESTILOS */
html, body{
	font-size: 16px;
	line-height: 1.5;
	font-family: $fonte-comum;
	color: $azul-texto;
	overflow-x: hidden;
	@media screen and (max-width: $tamanho-tablet){
		font-size: 15px;
	}

	@media screen and (max-width: $tamanho-smartphone){
		font-size: 14px;
	}
}

h2{
	font-family: $fonte-especial;
	font-size: 2.5em;
	line-height: 1.2;
	@media screen and (max-width: $tamanho-tablet-vertical){
		font-size: 2em;
	}


	&.flor-azul{
		&:before{
			content: "";
			width: 150px;
			height: 40px;
			margin: 0 auto;
			background-image: url(../media/sprite_fro.png);
			background-repeat: no-repeat;
			background-size: 188% auto;
			display: block;
		}
	}

	&.raminhos{
		&:before, &:after{
			content: "";
			vertical-align: middle;
			display: inline-block;
			width: 2em;
			height: 0.8em;
			background-image: url(../media/sprite_fro.png);
			background-repeat: no-repeat;
			background-size: 430% auto;
		}

		&:before{
			background-position: 0 110%;
		}

		&:after{
			background-position: 40% 110%;
		}

		@media screen and (max-width: $tamanho-smartphone){
			&:before, &:after{
				content: none;
			}
		}
	}
}

h5{
	font-size: 0.9em;
}

button{
	@include appearance(none);
	font-family: inherit;
	font-size: 1em;
	color: inherit;
	background-color: transparent;
	border: none;
}

.center-bt{
	width: 100%;
	@include display(flex);
	@include justify-content(center);
}

a.saiba-mais{
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
	padding: 0.4em 1em;
	border-radius: 0.6em;
	box-shadow: 2px 2px 0px 0px transparentize($azul, 0.5);
	color: white;
	background-color: $azul;
	text-transform: uppercase;
}

a.leia-mais{
	font-size: 0.9em;
	color: $bege;
	text-decoration: none;
	font-style: italic;
	i{
		color: $azul-texto;
	}
}

.bx-wrapper{
	border: none;
	margin-bottom: 0;
	background-color: transparent;
	box-shadow: none;
}

/* KEYFRAMES */
@include keyframes(aparece){
	0%{opacity: 0;}
	100%{opacity: 1;}
}


