/* BOX SIZING */
*, *:after, *:before{
	box-sizing: border-box;
}


/* FONTES */
$fonte-comum: 'Roboto', sans-serif;
$fonte-especial: 'Quentin', cursive;
$fontawesome: 'FontAwesome';


/* CORES */
$rosa: #d2a2a2;
$bege: #b99d84;
$azul-botoes: #eef5f7;
$texto-footer: #6f7580; 
$azul-icon-washes: #707d92;
$azul: #84b7b9;
$azul-texto: #5a5e66;
$azul-footer: #4b515b;
$azul-footer2: #40464f;
$bordas-clarinhas: hsl(0, 0%, 90%);
$verde-afirmacao: #89a95c;
$vermelho-negacao: #a95c5c;



/* MEDIA QUERIES */
$tamanho-note: 1200px;
$tamanho-tablet: 1020px;
$tamanho-tablet-vertical: 820px;
$tamanho-smartphone: 620px;
$tamanho-smart-pequeno: 430px;



/* ESTILOS GLOBAIS */
html, body{
	font-size: 17px;
	line-height: 1.5;
	font-family: $fonte-comum;
	color: $azul-texto;
	overflow-x: hidden;
	@media screen and (max-width: $tamanho-tablet){
		font-size: 16px;
	}

	@media screen and (max-width: $tamanho-smartphone){
		font-size: 15px;
	}
}


/* ESTILO DE TEXTOS */

sup{
	vertical-align: super;
}

sub{
	vertical-align: sub;
}
b,strong{
	font-weight: bold;
}

em,i{
	font-style: italic;
}

a{
	text-decoration: none;
	color: $bege;
	&:hover{
		cursor: pointer;
		text-decoration: underline;
	}
}
article{
	& > *{
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
	}
	
}

a{
	text-decoration: none;
}

body > section{
	padding: 3em 0;
}

h2,h3,h4{
	font-weight: bold;
	line-height: 1.2;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.4em;
}

h5{
	font-size: 0.9em;
}

h2{
	font-family: $fonte-especial;
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: normal;
	@media screen and (max-width: $tamanho-tablet-vertical){
		font-size: 2em;
	}


	&.flor-azul{
		text-align: center;
		&:before{
			content: "";
			width: 150px;
			height: 40px;
			margin: 0 auto;
			background-image: url(../media/sprite_fro.png);
			background-repeat: no-repeat;
			background-size: 188% auto;
			display: block;
		}
	}
}

div.h2-com-raminhos{
	width: 100%;
	text-align: center;
	h2{
		display: inline-block;
		position: relative;
		padding: 0 2em;


		&:before, &:after{
			content: "";
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			display: block;
			width: 2em;
			height: 0.8em;
			background-image: url(../media/sprite_fro.png);
			background-repeat: no-repeat;
			background-size: 430% auto;
		}

		&:before{
			left: 0;
			background-position: 0 110%;
		}

		&:after{
			right: 0;
			background-position: 40% 110%;
		}

		@media screen and (max-width: $tamanho-smartphone){
			padding: 0.8em 0 0;
			&:before{
				width: 4em;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%));
				background-size: 190% auto;

			}

			&:after{
				content: none;
			}
		}
		
	}
}

.center-bt{
	width: 100%;
	@include display(flex);
	@include justify-content(center);
}

a.saiba-mais, button.saiba-mais{
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
	padding: 0.4em 1em;
	border-radius: 0.6em;
	box-shadow: 2px 2px 0px 0px transparentize($azul, 0.5);
	color: white;
	background-color: $azul;
	text-transform: uppercase;
	&.rosa{
		background-color: $rosa;
		box-shadow: 2px 2px 0px 0px transparentize($rosa, 0.5);
	}

	&.bege{
		background-color: $bege;
		box-shadow: 2px 2px 0px 0px transparentize($bege, 0.5);
	}
}

a.leia-mais, button.leia-mais{
	font-size: 0.9em;
	color: $bege;
	text-decoration: none;
	font-style: italic;
	i{
		color: $azul-texto;
	}
}

.decoracao{
	background-image: url(../media/sprite_fro.png);
	background-size: 220% auto;
	background-position: 100% 0;
	width: 150px;
	height: 45px;
	margin: 1em auto;
}

/* FORMS */

input, textarea{
	font-size: 0.8em;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	border: 1px solid $bordas-clarinhas;
	padding: 0.7em 1em;
	@include placeholder(){
		color: lighten($azul-texto, 30%);
		font-style: italic;
	}
}

button{
	font-size: 1em;
	&:focus{
		outline: none;
	}
}

button, input[type="button"], input[type="submit"]{
	@include appearance(none);
	font-family: inherit;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: none;
	&:hover{
		cursor: pointer;
	}
}

input[type="button"], input[type="submit"]{
	font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background-color: $azul-texto;
	padding: 0.7em 1em;
	@include transition(background-color 0.2s linear);
	&:hover{
		background-color: $azul-footer;
	}
}



.bx-wrapper{
	border: none;
	margin-bottom: 0;
	background-color: transparent;
	box-shadow: none;
}

/* KEYFRAMES */
@include keyframes(aparece){
	0%{opacity: 0;}
	100%{opacity: 1;}
}


