.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  -webkit-transform: translatez(0); }

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: 700;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000; }

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) 0 -32px no-repeat; }

.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) -43px -32px no-repeat; }

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Quentin';
  src: url("../fonts/quentin/Quentin.woff2") format("woff2"), url("../fonts/Quentin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* BOX SIZING */
*, *:after, *:before {
  box-sizing: border-box; }

/* FONTES */
/* CORES */
/* MEDIA QUERIES */
/* ESTILOS */
html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #5a5e66;
  overflow-x: hidden; }
  @media screen and (max-width: 1020px) {
    html, body {
      font-size: 15px; } }
  @media screen and (max-width: 620px) {
    html, body {
      font-size: 14px; } }

/* ESTILO DE TEXTOS */
article > * {
  margin-bottom: 1em; }
  article > *:last-child {
    margin-bottom: 0; }
article b, article strong {
  font-weight: bold; }
article em, article i {
  font-style: italic; }
article img {
  margin-top: 2em;
  margin-bottom: 2em; }
article a {
  text-decoration: none;
  color: #b99d84; }
  article a:hover {
    cursor: pointer;
    text-decoration: underline; }

body > section {
  padding: 3em 0; }

h2, h3, h4 {
  line-height: 1.2; }

h5 {
  font-size: 0.9em; }

h2 {
  font-family: "Quentin", cursive;
  font-size: 2.5em;
  line-height: 1.2; }
  @media screen and (max-width: 820px) {
    h2 {
      font-size: 2em; } }
  h2.flor-azul:before {
    content: "";
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../media/sprite_fro.png);
    background-repeat: no-repeat;
    background-size: 188% auto;
    display: block; }

div.h2-com-raminhos {
  width: 100%;
  text-align: center; }
  div.h2-com-raminhos h2 {
    display: inline-block;
    position: relative;
    padding: 0 2em; }
    div.h2-com-raminhos h2:before, div.h2-com-raminhos h2:after {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      width: 2em;
      height: 0.8em;
      background-image: url(../media/sprite_fro.png);
      background-repeat: no-repeat;
      background-size: 430% auto; }
    div.h2-com-raminhos h2:before {
      left: 0;
      background-position: 0 110%; }
    div.h2-com-raminhos h2:after {
      right: 0;
      background-position: 40% 110%; }
    @media screen and (max-width: 620px) {
      div.h2-com-raminhos h2 {
        padding: 0.8em 0 0; }
        div.h2-com-raminhos h2:before {
          width: 4em;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          background-size: 190% auto; }
        div.h2-com-raminhos h2:after {
          content: none; } }

.center-bt {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

a.saiba-mais {
  font-size: 0.9em;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4em 1em;
  border-radius: 0.6em;
  box-shadow: 2px 2px 0px 0px rgba(132, 183, 185, 0.5);
  color: white;
  background-color: #84b7b9;
  text-transform: uppercase; }

a.leia-mais {
  font-size: 0.9em;
  color: #b99d84;
  text-decoration: none;
  font-style: italic; }
  a.leia-mais i {
    color: #5a5e66; }

.decoracao {
  background-image: url(../media/sprite_fro.png);
  background-size: 220% auto;
  background-position: 100% 0;
  width: 150px;
  height: 45px;
  margin: 1em auto; }

/* FORMS */
button {
  font-size: 1em; }

button, input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: inherit;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none; }
  button:hover, input[type="button"]:hover {
    cursor: pointer; }
  button:focus, input[type="button"]:focus {
    outline: none; }

input, textarea {
  font-size: 0.8em;
  font-family: inherit; }

input[type="text"], textarea {
  border: 1px solid #e6e6e6;
  padding: 0.5em; }
  input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-style: italic; }
  input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {
    font-style: italic; }
  input[type="text"]:-moz-placeholder, textarea:-moz-placeholder {
    font-style: italic; }
  input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-style: italic; }

input[type="button"] {
  text-transform: uppercase;
  padding: 0.5em 1em;
  color: white;
  background-color: #5a5e66;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  input[type="button"]:hover {
    background-color: #4b515b; }

.bx-wrapper {
  border: none;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: none; }

/* KEYFRAMES */
@-webkit-keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* CONTAINER PADRAO CENTRALIZADO */
.container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 1000px; } }
  @media screen and (max-width: 1020px) {
    .container {
      width: 800px; } }
  @media screen and (max-width: 820px) {
    .container {
      width: 600px; } }
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-right: 1em;
      padding-left: 1em; } }

/* CONTAINER COM TEXTURA E BORDA CRAQUELADA */
.textura-papel {
  background-image: url(../media/pattern_papel.jpg);
  position: relative;
  z-index: 2; }
  .textura-papel + section {
    padding: 5em 0; }
  .textura-papel:before, .textura-papel:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: no-repeat; }
  .textura-papel:before {
    background-position: left bottom;
    background-image: url(../media/borda_secao1.png); }
  .textura-papel:after {
    background-position: right top;
    background-image: url(../media/borda_secao2.png); }
  .textura-papel:before, .textura-papel:after {
    height: 38px;
    background-size: auto 38px; }
  .textura-papel:before {
    top: -37px; }
  .textura-papel:after {
    bottom: -37px; }
  @media screen and (max-width: 1020px) {
    .textura-papel:before, .textura-papel:after {
      height: 30px;
      background-size: auto 30px; }
    .textura-papel:before {
      top: -29px; }
    .textura-papel:after {
      bottom: -29px; } }
  @media screen and (max-width: 620px) {
    .textura-papel:before, .textura-papel:after {
      height: 22px;
      background-size: auto 22px; }
    .textura-papel:before {
      top: -21px; }
    .textura-papel:after {
      bottom: -21px; } }

/* BORDA CRAQUELADA, APENAS EMBAIXO, SEM TEXTURA */
.borda-branca {
  position: relative;
  z-index: 2; }
  .borda-branca:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 38px;
    bottom: -37px;
    background-size: auto 38px;
    background-repeat: repeat-x;
    background-position: left top;
    background-image: url(../media/borda_branca.png); }
    @media screen and (max-width: 1020px) {
      .borda-branca:after {
        height: 30px;
        bottom: -29px;
        background-size: auto 30px; } }
    @media screen and (max-width: 620px) {
      .borda-branca:after {
        height: 22px;
        bottom: -21px;
        background-size: auto 22px; } }

/* SISTEMINHA DE GRID */
.grid {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .grid > * {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 1.5rem; }
  .grid.g4 {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .grid.g4 > * {
      width: calc(25% - 1.125rem);
      margin-right: 1.5rem; }
      .grid.g4 > *:nth-child(4n) {
        margin-right: 0; }
  .grid.g3 {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .grid.g3 > * {
      width: calc(33.333% - 1rem);
      margin-right: 1.5rem; }
      .grid.g3 > *:nth-child(3n) {
        margin-right: 0; }
  .grid.g1e2 > *:first-child {
    width: calc(33.333% - 0.75rem);
    margin-right: 1.5rem; }
  .grid.g1e2 > *:nth-child(2) {
    width: calc(66.666% - 0.75rem); }
  .grid.g2e1 > *:first-child {
    width: calc(66.666% + 0.75rem);
    margin-right: 1.5rem; }
  .grid.g2e1 > *:nth-child(2) {
    width: calc(33.333% - 0.75rem); }
  .grid.g2 > * {
    width: calc(50% - 0.75rem);
    margin-right: 1.5rem; }
    .grid.g2 > *:nth-child(2n) {
      margin-right: 0; }
  @media screen and (max-width: 820px) {
    .grid.g4 > *, .grid.g3 > * {
      width: calc(50% - 0.5em);
      margin-right: 1em; }
      .grid.g4 > *:nth-child(2n), .grid.g3 > *:nth-child(2n) {
        margin-right: 0; }
    .grid.g4 > *:nth-child(4n) {
      margin-right: inherit; }
    .grid.g3 > *:nth-child(3n) {
      margin-right: inherit; }
    .grid.g1e2, .grid.g2e1, .grid.g2 {
      display: block; }
      .grid.g1e2 > *, .grid.g1e2 > *:first-child, .grid.g1e2 > *:nth-child(2), .grid.g1e2 > *:nth-child(2n), .grid.g1e2 > *:nth-child(3n), .grid.g2e1 > *, .grid.g2e1 > *:first-child, .grid.g2e1 > *:nth-child(2), .grid.g2e1 > *:nth-child(2n), .grid.g2e1 > *:nth-child(3n), .grid.g2 > *, .grid.g2 > *:first-child, .grid.g2 > *:nth-child(2), .grid.g2 > *:nth-child(2n), .grid.g2 > *:nth-child(3n) {
        width: 100%;
        margin: 0 auto 1em; } }
  @media screen and (max-width: 620px) {
    .grid.g4, .grid.g3 {
      display: block; }
      .grid.g4 > *, .grid.g3 > * {
        width: 100%;
        max-width: 240px;
        margin-right: auto;
        margin: 0 auto; }
        .grid.g4 > *:nth-child(2n), .grid.g3 > *:nth-child(2n) {
          margin-right: auto; }
    .grid.g4 > *:nth-child(4n) {
      margin-right: auto; }
    .grid.g3 > *:nth-child(3n) {
      margin-right: auto; } }

/* REDES SOCIAIS DE ICONE */
.redes-sociais-icons {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .redes-sociais-icons a {
    text-decoration: none;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: #eef5f7;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .redes-sociais-icons a:last-child {
      margin-right: 0; }
    .redes-sociais-icons a i {
      font-size: 1em;
      line-height: 1;
      color: #4b515b; }

/* SECTION COM WASHES */
.highlight-wash {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  @media screen and (max-width: 820px) {
    .highlight-wash {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; } }
  .highlight-wash section {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    width: 33.3333%;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 20px;
    position: relative;
    height: auto; }
    .highlight-wash section:after {
      content: '';
      display: block;
      padding-top: 73%; }
    .highlight-wash section .icone-texto {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .highlight-wash section .icone-texto .icone {
        background-color: #707d92;
        width: 4em;
        height: 4em;
        margin: 0 auto 1.5em;
        border-radius: 50%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
        .highlight-wash section .icone-texto .icone i {
          font-size: 1.5em;
          line-height: 1;
          color: white; }
      .highlight-wash section .icone-texto h2 {
        margin: 0;
        font-size: 2.4em;
        line-height: 1;
        text-align: center;
        white-space: nowrap; }
      .highlight-wash section .icone-texto p {
        font-size: 0.85em;
        line-height: 1.3;
        padding: 0 5em;
        margin: 0.5em auto;
        text-align: center; }
    .highlight-wash section a.saiba-mais {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      background-color: white;
      color: #84b7b9;
      box-shadow: 2px 2px 0px 0px rgba(132, 183, 185, 0.5); }
    @media screen and (max-width: 1200px) {
      .highlight-wash section .icone-texto .icone {
        margin-bottom: 0; }
      .highlight-wash section .icone-texto p {
        padding: 0 3em; } }
    @media screen and (max-width: 820px) {
      .highlight-wash section {
        width: 300px;
        max-width: 100%;
        margin-bottom: 2em; } }
    .highlight-wash section:nth-child(1) {
      background-image: url(../media/wash_azul1.png); }
    .highlight-wash section:nth-child(2) {
      background-image: url(../media/wash_azul2.png); }
    .highlight-wash section:nth-child(3) {
      background-image: url(../media/wash_azul3.png); }

/* PAINEL PRODUTOS */
.produtos > .grid {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  .produtos > .grid .item {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 1em 1em 3.5em;
    margin-bottom: 1.5rem;
    position: relative;
    position: relative; }
    .produtos > .grid .item:after {
      content: "";
      position: absolute;
      z-index: 2;
      background-image: url(../media/clipe_papel.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 38px;
      height: 57px;
      top: -17px;
      left: -5px; }
    .produtos > .grid .item img {
      width: 100%;
      height: auto; }
    .produtos > .grid .item h3 {
      font-size: 1em;
      text-align: center;
      font-style: italic; }
    .produtos > .grid .item p.preco {
      font-style: italic;
      text-align: center;
      font-size: 1em;
      text-transform: uppercase;
      margin: 0.2em 0;
      color: #b99d84;
      font-weight: bold; }
    .produtos > .grid .item p.descricao {
      font-size: 0.9em; }
    .produtos > .grid .item div.inscricoes {
      margin: 1em 0; }
      .produtos > .grid .item div.inscricoes p.abertas {
        color: #89a95c; }
      .produtos > .grid .item div.inscricoes p.encerradas {
        color: #a95c5c; }
      .produtos > .grid .item div.inscricoes p.lista {
        color: #b99d84; }
      .produtos > .grid .item div.inscricoes p, .produtos > .grid .item div.inscricoes p.abertas, .produtos > .grid .item div.inscricoes p.encerradas, .produtos > .grid .item div.inscricoes p.lista {
        margin: 0;
        font-size: 0.8em;
        font-weight: bold; }
        .produtos > .grid .item div.inscricoes p i, .produtos > .grid .item div.inscricoes p.abertas i, .produtos > .grid .item div.inscricoes p.encerradas i, .produtos > .grid .item div.inscricoes p.lista i {
          color: #84b7b9; }
    .produtos > .grid .item .center-bt {
      position: absolute;
      bottom: 1em;
      left: 0; }
      .produtos > .grid .item .center-bt a {
        font-size: 0.8em;
        box-shadow: 2px 2px 0px 0px rgba(132, 183, 185, 0.5);
        color: white;
        background-color: #84b7b9; }
.produtos.cursos .item h3 {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  font-style: normal; }
.produtos.cursos .item.encerradas .center-bt a {
  background-color: #d2a2a2;
  box-shadow: 2px 2px 0px 0px rgba(210, 162, 162, 0.5); }

/* BOX LINK DO POST */
.box-link-post {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .box-link-post img.thumb {
    display: block;
    width: calc(30% - 0.5em);
    height: auto; }
  .box-link-post article {
    width: calc(70% - 0.5em); }
    .box-link-post article > * {
      margin-bottom: 0.5rem; }
    .box-link-post article h3 {
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.2; }
    .box-link-post article .data-post {
      font-size: 0.9em;
      font-weight: bold;
      color: #b99d84;
      font-style: italic; }
    .box-link-post article .autora-e-leiamais {
      margin-top: 1em;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      .box-link-post article .autora-e-leiamais p.autora {
        font-size: 0.9em; }
        .box-link-post article .autora-e-leiamais p.autora span.nome {
          font-family: "Quentin", cursive;
          color: #d2a2a2;
          font-size: 1.5em; }
      .box-link-post article .autora-e-leiamais a.leia-mais {
        display: block; }
      @media screen and (max-width: 620px) {
        .box-link-post article .autora-e-leiamais {
          display: block; }
          .box-link-post article .autora-e-leiamais a.leia-mais {
            margin-top: 1em; } }

/* TOPO TITULO C/ SUBTITULO */
.secao-de-titulo {
  text-align: center; }
  .secao-de-titulo > h2 {
    width: 100%;
    text-align: center;
    font-family: "Quentin", cursive; }
  .secao-de-titulo h3 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    color: #b99d84; }
    @media screen and (max-width: 820px) {
      .secao-de-titulo h3 {
        width: 100%; } }

/* SLIDER DE VIDEO DEPOIMENTOS */
.slider-videos {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .slider-videos button {
    padding: 0;
    border: 0;
    margin: 0;
    display: inline-block;
    width: 4em;
    height: 6em;
    vertical-align: middle; }
    .slider-videos button i {
      color: #84b7b9;
      font-size: 3.5em;
      line-height: 1;
      vertical-align: middle; }
    .slider-videos button:focus {
      outline: none; }
    .slider-videos button:hover {
      cursor: pointer; }
  .slider-videos .container-bx-videos {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 8em);
    position: relative; }
    .slider-videos .container-bx-videos ul.bx-videos {
      display: block;
      width: 100%; }
      .slider-videos .container-bx-videos ul.bx-videos li {
        display: inline-block;
        width: 33%;
        border: 1px solid #e6e6e6;
        padding: 1em;
        position: relative; }
        .slider-videos .container-bx-videos ul.bx-videos li:after {
          font-family: "Font Awesome 5 Free";
          content: '\f144';
          font-weight: 900;
          color: inherit;
          background-color: #fff;
          font-size: 2.5em;
          line-height: 1;
          padding: 2px;
          border-radius: 50%;
          pointer-events: none;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .slider-videos .container-bx-videos ul.bx-videos li a.thumb-video {
          text-decoration: none;
          color: inherit;
          display: block;
          background-size: cover;
          background-position: center;
          position: relative; }
          .slider-videos .container-bx-videos ul.bx-videos li a.thumb-video:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            -webkit-transition: background-color 0.2s linear;
            -moz-transition: background-color 0.2s linear;
            transition: background-color 0.2s linear; }
          .slider-videos .container-bx-videos ul.bx-videos li a.thumb-video:after {
            content: "";
            display: block;
            padding-top: 60%; }
          .slider-videos .container-bx-videos ul.bx-videos li a.thumb-video:hover {
            cursor: pointer; }
            .slider-videos .container-bx-videos ul.bx-videos li a.thumb-video:hover:before {
              background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 1020px) {
    .slider-videos button {
      width: 3em;
      height: 4em; }
      .slider-videos button i {
        font-size: 3em; }
    .slider-videos .container-bx-videos {
      width: calc(100% - 6em); } }
  @media screen and (max-width: 620px) {
    .slider-videos button {
      width: 2em;
      height: 3em; }
      .slider-videos button i {
        font-size: 2.5em; }
    .slider-videos .container-bx-videos {
      width: calc(100% - 4em); } }

/* DUVIDAS FREQUENTES */
.duvidas-frequentes {
  margin-top: 4em; }
  .duvidas-frequentes ul {
    width: 60%;
    margin: 0 auto; }
    @media screen and (max-width: 820px) {
      .duvidas-frequentes ul {
        width: 100%; } }
    .duvidas-frequentes ul li {
      margin-bottom: 0.5em;
      padding: 0.5em 1em;
      background-color: white;
      border: 1px solid #e6e6e6; }
      .duvidas-frequentes ul li h4 {
        color: #b99d84;
        font-style: italic; }
        .duvidas-frequentes ul li h4 i {
          color: #84b7b9; }
      .duvidas-frequentes ul li article {
        display: none;
        font-size: 0.9em;
        padding: 1em 0; }

#cabecalho-principal {
  width: 100%;
  padding-top: 3em;
  background-image: url(../media/aquarela_topo.png), url(../media/enfeites_topo.png), url(../media/pattern_papel.jpg);
  background-size: 2100px auto, 1200px auto, auto;
  background-position: top center, top center, top left;
  background-repeat: no-repeat, no-repeat, repeat; }
  @media screen and (max-width: 1200px) {
    #cabecalho-principal {
      background-size: 175% auto, 100% auto, auto; } }
  @media screen and (max-width: 820px) {
    #cabecalho-principal {
      background-size: 1400px auto, 800px auto, auto; } }
  @media screen and (max-width: 620px) {
    #cabecalho-principal {
      background-size: 1050px auto, 600px auto, auto; } }
  #cabecalho-principal:before {
    content: none; }
  #cabecalho-principal .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    @media screen and (max-width: 620px) {
      #cabecalho-principal .container {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; } }
  #cabecalho-principal a.logo {
    width: 30%;
    display: block;
    position: relative;
    -webkit-transform: translateX(-11%);
    -moz-transform: translateX(-11%);
    -ms-transform: translateX(-11%);
    -o-transform: translateX(-11%);
    transform: translateX(-11%); }
    #cabecalho-principal a.logo img {
      display: block;
      width: 100%;
      height: auto; }
    @media screen and (max-width: 1020px) {
      #cabecalho-principal a.logo {
        width: 40%; } }
    @media screen and (max-width: 820px) {
      #cabecalho-principal a.logo {
        width: 35%; } }
    @media screen and (max-width: 620px) {
      #cabecalho-principal a.logo {
        width: 240px;
        max-width: 90%; } }
  #cabecalho-principal button.bt-menu {
    display: none; }
    @media screen and (max-width: 430px) {
      #cabecalho-principal button.bt-menu {
        margin: 1em 0;
        display: block; } }
  #cabecalho-principal ul.menu {
    width: 65%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    padding-bottom: 2em; }
    @media screen and (max-width: 1020px) {
      #cabecalho-principal ul.menu {
        padding-bottom: 2em; } }
    @media screen and (max-width: 820px) {
      #cabecalho-principal ul.menu {
        padding-bottom: 0.5em; } }
    @media screen and (max-width: 620px) {
      #cabecalho-principal ul.menu {
        width: 100%;
        padding: 0.5em 0;
        -webkit-box-pack: distribute;
        -moz-box-pack: distribute;
        box-pack: distribute;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: distribute;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -moz-box-align: start;
        box-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
        -o-align-items: flex-start;
        align-items: flex-start;
        -ms-flex-align: start; } }
    @media screen and (max-width: 430px) {
      #cabecalho-principal ul.menu {
        display: none; }
        #cabecalho-principal ul.menu.ativo {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex; } }
    #cabecalho-principal ul.menu li {
      margin-right: 2.2em; }
      #cabecalho-principal ul.menu li:last-child {
        margin-right: 0; }
      #cabecalho-principal ul.menu li a {
        text-decoration: none;
        color: inherit;
        font-size: 0.85em; }
        #cabecalho-principal ul.menu li a i {
          display: block;
          text-align: center;
          color: #84b7b9;
          font-size: 1.2em;
          margin-bottom: 4px;
          -webkit-transition: color 0.2s linear;
          -moz-transition: color 0.2s linear;
          transition: color 0.2s linear; }
        #cabecalho-principal ul.menu li a p {
          text-transform: uppercase;
          -webkit-transition: color 0.2s linear;
          -moz-transition: color 0.2s linear;
          transition: color 0.2s linear; }
      @media screen and (max-width: 1020px) {
        #cabecalho-principal ul.menu li {
          margin-right: 1.8em; }
          #cabecalho-principal ul.menu li:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 820px) {
        #cabecalho-principal ul.menu li {
          margin-right: 1.5em; }
          #cabecalho-principal ul.menu li:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 430px) {
        #cabecalho-principal ul.menu li {
          width: 33%;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          margin: 0;
          margin-bottom: 1em;
          opacity: 0;
          -webkit-animation: aparece 0.2s linear 0s 1 normal forwards;
          -moz-animation: aparece 0.2s linear 0s 1 normal forwards;
          animation: aparece 0.2s linear 0s 1 normal forwards; }
          #cabecalho-principal ul.menu li:last-child {
            margin: 0;
            margin-bottom: 1em; }
          #cabecalho-principal ul.menu li:nth-child(1) {
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
            animation-delay: 0s; }
          #cabecalho-principal ul.menu li:nth-child(2) {
            -webkit-animation-delay: 0.07s;
            -moz-animation-delay: 0.07s;
            animation-delay: 0.07s; }
          #cabecalho-principal ul.menu li:nth-child(3) {
            -webkit-animation-delay: 0.14s;
            -moz-animation-delay: 0.14s;
            animation-delay: 0.14s; }
          #cabecalho-principal ul.menu li:nth-child(4) {
            -webkit-animation-delay: 0.21s;
            -moz-animation-delay: 0.21s;
            animation-delay: 0.21s; }
          #cabecalho-principal ul.menu li:nth-child(5) {
            -webkit-animation-delay: 0.28s;
            -moz-animation-delay: 0.28s;
            animation-delay: 0.28s; }
          #cabecalho-principal ul.menu li:nth-child(6) {
            -webkit-animation-delay: 0.35s;
            -moz-animation-delay: 0.35s;
            animation-delay: 0.35s; } }
      #cabecalho-principal ul.menu li.atual a i {
        color: #d2a2a2; }
      #cabecalho-principal ul.menu li.atual a p {
        font-weight: bold; }
      #cabecalho-principal ul.menu li:hover a i {
        color: #d2a2a2; }
      #cabecalho-principal ul.menu li:hover a p {
        color: #d2a2a2; }

section#slider {
  width: 100%;
  height: 40vw;
  background-image: url(../../placeholders/fotosangela/img1.jpg);
  background-size: cover;
  background-position: top center; }

#loja h5 {
  margin-bottom: 3em; }

#acesso-rapido > .container section:nth-child(1) {
  background-image: url(../media/wash_azul1.png); }
  #acesso-rapido > .container section:nth-child(1) .icone {
    background-color: #84b7b9; }
  #acesso-rapido > .container section:nth-child(1) a.saiba-mais {
    color: #84b7b9;
    box-shadow: 2px 2px 0px 0px rgba(132, 183, 185, 0.5); }
#acesso-rapido > .container section:nth-child(2) {
  background-image: url(../media/wash_amarelo.png); }
  #acesso-rapido > .container section:nth-child(2) .icone {
    background-color: #b99d84; }
  #acesso-rapido > .container section:nth-child(2) a.saiba-mais {
    color: #b99d84;
    box-shadow: 2px 2px 0px 0px rgba(185, 157, 132, 0.5); }
#acesso-rapido > .container section:nth-child(3) {
  background-image: url(../media/wash_vermelho.png); }
  #acesso-rapido > .container section:nth-child(3) .icone {
    background-color: #d2a2a2; }
  #acesso-rapido > .container section:nth-child(3) a.saiba-mais {
    color: #d2a2a2;
    box-shadow: 2px 2px 0px 0px rgba(210, 162, 162, 0.5); }

#sobre > .container img.foto-autora {
  display: block;
  width: 45%;
  height: auto; }
  @media screen and (max-width: 820px) {
    #sobre > .container img.foto-autora {
      width: 100%;
      max-width: 400px;
      margin: 0 auto; } }
#sobre > .container article h2.nome-autora {
  font-family: "Quentin", cursive;
  line-height: 1;
  text-align: center;
  margin-bottom: 0; }
#sobre > .container article h3.titulacao {
  font-size: 1.15em;
  text-align: center;
  color: #b99d84;
  font-style: italic;
  margin-bottom: 1.5em; }
#sobre > .container article a.leia-mais {
  display: block;
  text-align: right; }

#produtos-destaque > .container > .h2-com-raminhos {
  margin-bottom: 2em; }

#call-blog .container > article h2 {
  text-align: center;
  margin-bottom: 0; }
#call-blog .container > article p {
  text-align: center;
  margin: 1em 0;
  color: #b99d84;
  font-style: italic; }
#call-blog .container > .ultimos-posts .bx-wrapper {
  border: 1px solid #e6e6e6; }
#call-blog .container > .ultimos-posts .bx-nav {
  margin-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  #call-blog .container > .ultimos-posts .bx-nav button {
    margin-right: 0.6em;
    text-decoration: none;
    line-height: 0;
    color: transparent;
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #d2a2a2;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }
    #call-blog .container > .ultimos-posts .bx-nav button:last-child {
      margin-right: 0; }
    #call-blog .container > .ultimos-posts .bx-nav button.ativo {
      background-color: #84b7b9; }

#curso-vantagens-e-depos > h2 {
  margin: 1em auto;
  text-align: center; }

#post-e-lateral > .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  #post-e-lateral > .container section.lista-posts, #post-e-lateral > .container section.single-post {
    width: calc(75% - 3em); }
  #post-e-lateral > .container section.lista-posts ul li {
    border: 1px solid #e6e6e6;
    margin-bottom: 3em; }
  #post-e-lateral > .container section.lista-posts .paginacao {
    margin-top: 2em; }
    #post-e-lateral > .container section.lista-posts .paginacao h5 {
      text-align: center;
      font-weight: bold;
      margin-bottom: 1em; }
    #post-e-lateral > .container section.lista-posts .paginacao .links-paginas {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      #post-e-lateral > .container section.lista-posts .paginacao .links-paginas a {
        text-decoration: none;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        line-height: 2;
        border-radius: 50%;
        color: white;
        text-align: center;
        background-color: #d2a2a2; }
        #post-e-lateral > .container section.lista-posts .paginacao .links-paginas a:last-child {
          margin-right: 0; }
        #post-e-lateral > .container section.lista-posts .paginacao .links-paginas a.outras-paginas {
          background-color: #b99d84; }
  #post-e-lateral > .container section.lateral {
    width: 25%; }
    #post-e-lateral > .container section.lateral aside {
      margin-bottom: 2em; }
      #post-e-lateral > .container section.lateral aside.buscar-posts form {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        #post-e-lateral > .container section.lateral aside.buscar-posts form input[type="text"] {
          width: 75%; }
        #post-e-lateral > .container section.lateral aside.buscar-posts form input[type="button"] {
          width: 25%; }
      #post-e-lateral > .container section.lateral aside.perfil header img.foto-perfil {
        display: block;
        width: 100%;
        height: auto; }
      #post-e-lateral > .container section.lateral aside.perfil header h2 {
        text-align: center;
        font-size: 2em; }
      #post-e-lateral > .container section.lateral aside.redes-sociais-icons {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; }

#rodape {
  background-color: #4b515b; }
  #rodape .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    @media screen and (max-width: 620px) {
      #rodape .container {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        #rodape .container > *:first-child {
          margin-bottom: 1rem; } }
  #rodape > .container {
    padding-top: 3em;
    padding-bottom: 2em; }
    #rodape > .container a.marca {
      display: block; }
      #rodape > .container a.marca img {
        display: block;
        height: 3em;
        width: auto; }
  #rodape .faixa {
    background-color: #40464f; }
    #rodape .faixa > .container {
      padding-top: 1em;
      padding-bottom: 1em; }
      #rodape .faixa > .container p {
        font-size: 0.6em;
        font-weight: bold;
        color: #6f7580;
        text-transform: uppercase; }
        #rodape .faixa > .container p a {
          text-decoration: none;
          color: inherit; }

/*# sourceMappingURL=layout.css.map */
